{% extends 'layout.html' %}{% block title %} Dashboard {% endblock %}{% block
buttons %}<a class="nav-link text-white" href="{{ url_for('logout') }}"
  >Logout</a
>
{% endblock %} {% block body %}

<img src="../static/dashboard.svg" alt="Login img" height="350px" />

{% if not alreadySubmitted %}
<h6 style="text-align: center">Want to take the test...?<br /></h6>
<p style="text-align: center">Click on the below button to start the test</p>
<form action="/questions" method="GET">
  <button type="submit" class="btn btn-secondary btn-block text-white">
    Give Test
  </button>
</form>
{% else %}
<p>Click on the below button to check your score/ Take test again</p>
<form action="/validate" method="POST">
  <button type="submit" class="btn btn-secondary btn-block text-white">
    Check Results / Take Test Again
  </button>
</form>
{% endif %} {% endblock%}
